@{
    ViewBag.Title = "Contato";
}
 <h2>@ViewBag.Title</h2>
<!--<h3>@ViewBag.Message</h3>-->

<address>
    Avenida Conde Frontin, 258<br />
    Tatuapé,SP Cep 98052-6399<br />
    <abbr title="Telefone"></abbr>
   Telefone: 3352-7845
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@datacenter.com">Suporte@datacenter.com</a><br />
    <strong>Secretaria:</strong> <a href="mailto:edu@datacenter.com">edu@datacenter.com</a>
</address>