@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DataCenter</h1>
    <p class="lead">Conquiste o diferencial que você necessita no seu currículo e tenha mais oportunidades de sucesso, com aulas exclusivas e didática reconhecida, qualificando-se com os da Cursos DataCenter</p>
    <p><a href="http://asp.net" class="btn btn-info btn-lg">Leia mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Convênios</h2>
        <p>
            Convênio para empresas.
            Descontos para funcionários.
            Seja um parceiro da DataCenter.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cursos</h2>
        <p>Cursos Profissionalizantes.
           Aulas 100% práticas.
           1 aluno por computador.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contato DataCenter</h2>
        <p>Telefone, WhatsApp, Skype…
           Endereço no Google Maps.
           Tire as suas dúvidas.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Leia mais &raquo;</a></p>
    </div>
</div>